*{
	margin:0;
	padding:0;
}
header{
text-align: center;
padding:20px;
background-color:white;
}

body{
	background-color:#524c4b;
}
.score-board{
border:3px solid white;
width:200px;
margin:25px auto;
color:#ffffff;
font-size:35px;
position:relative;
padding:35px 24px;
text-align:center;
}
p{
	color:#ffffff;
	text-align:center;
	font-size:30px;
	font-style:bold;
	font-family:Times New Roman;
}
.badge{
	background-color:red;
	
}

#user-label{
	position:absolute;
	left:-20px;
	top:20px;
}

#comp-label{
	position:absolute;
	right:-30px;
	top:20px;
	
}

.choices{
	margin:50px 0;
}

.choice
{
	border:4px solid black;
	display:inline-block;
	margin:15px 35px auto;
}

.choice:hover{
	cursor: pointer;
}